*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 0 auto;
}

header{
    margin: 2em 0 ;
    background-color: violet;
    height: 130px;
}

.first{
    background-color: sandybrown;
    height: 390px;
    margin: 2em 0;
}

.second{
    background-color: rgb(59, 135, 240);
    height: 450px;
    margin-bottom: 1em;
}

footer{
    height: 65px;
    background-color: purple;
}

.section-main{
    height: 15%;
    background-color: lightblue;
    margin-bottom: 1.5em;
}

.section{
    background-color: lightblue;
    height: calc(85% - 2.5em);
    float: left;
}

.center{
    width: 60%;
    margin: 0 1em;
}

.side{
    width: calc(20% - 1em );
}